<<<<<<< HEAD
:host ::ng-deep .p-menubar-item-icon{
    color: var(--primary-color);
}
=======
:host ::ng-deep .p-menubar-item-icon {
    color: var(--primary-color);
}
>>>>>>> d9d13c4c0c43c0e1df7b9d06f5d62517314f620c
