<div class="card xs:col-12 md:col-6 lg:col-4 mx-auto px-3 text-center">

  <h1>Worktimes</h1>

  <h3>Add new worktime</h3>


  <div class="card flex justify-content-center w-full mt-5 mb-3">
    <p-floatLabel class="w-full">
      <p-dropdown [options]="users" [(ngModel)]="worktime.userId" optionLabel="name" optionValue="id" [filter]="true"
        filterBy="name" [showClear]="true" inputId="float-label" styleClass="w-full text-left" />
      <label for="float-label">Select a user</label>
    </p-floatLabel>
  </div>

  <div class="card flex justify-content-center w-full mb-3">
    <p-calendar [(ngModel)]="worktime.date" [iconDisplay]="'input'" [showIcon]="true"
      inputId="templatedisplay"  styleClass="w-full">
      <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack" class="w-full">
        <i class="pi pi-calendar pointer-events-none" (click)="clickCallBack($event)"></i>
      </ng-template>
    </p-calendar>
  </div>

  <div class="card flex justify-content-center w-full mb-3">
    <p-calendar [(ngModel)]="worktime.start" [iconDisplay]="'input'" [showIcon]="true" [timeOnly]="true"
      inputId="templatedisplay"  styleClass="w-full">
      <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
        <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
      </ng-template>
    </p-calendar>
  </div>

  <div class="card flex justify-content-center w-full mb-3">
    <p-calendar [(ngModel)]="worktime.end" [iconDisplay]="'input'" [showIcon]="true" [timeOnly]="true"
      inputId="templatedisplay"  styleClass="w-full">
      <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
        <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
      </ng-template>
    </p-calendar>
  </div>

  <p-button icon="pi pi-arrow-left" label="Back to list" routerLink="/worktimes" severity="secondary"
    class="mr-2"></p-button>
  <p-button icon="pi pi-save" label="Save" (click)="save()"></p-button>

</div>
