/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
@import "primeicons/primeicons.css";
@import"primeflex/primeflex.css";

body{margin: 0;
font-family: Arial, Helvetica, sans-serif};



=======

@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body{
    margin: 0;
    font-family: Arial, sans-serif;
}
>>>>>>> d9d13c4c0c43c0e1df7b9d06f5d62517314f620c
