/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

body{
  margin: 0;
}

p-password {
  width: 100%;
  padding: 0px !important;
  border: none !important;
}

p-password div {
  width: 100% !important;
  padding: 0px !important;
}

p-password input {
  width: 100% !important;
  padding: 14px !important;
}
